.m-index {
    height: 100%;
    @include flexbox();
    @include flex-direction(column);
    .l-container {
        @include flex(1);
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    footer {
        height: 0.39rem;
        width: 100%;
        @include border(1px 0 0 0, #b1b1b1);
        ul {
            height: 100%;
            text-align: center;
            @include flexbox();
            li {
                @include flex(1);
                padding-top: 0.02rem;
                b,
                i {
                    display: block;
                    font-weight: normal;
                }
                &.active {
                    color: #e61f18;
                }
                i {
                    font-size: 0.20rem;
                    line-height: 0.20rem;
                }
                b {
                    font-size: 0.1rem;
                }
            }
        }
    }
}