.login{
    @include flexbox();
    @include flex-direction(column);
    height: 100%;
    header{
       height: 0.39rem;
       background: #f6f6f6; 
       ul{
           @include flexbox();
           text-align: center;
           line-height: 0.39rem;
           li{
              &:not(:nth-child(2)){
                  width: 0.5rem;
              }
              &:nth-child(2){
                 @include flex(1); 
              } 
           }
       }
    }
    section{
       @include flex(1);
       width: 100%;
       background: #fff;
       input{
           border: 0;
       }
       form>input{
           background: #e61f18;
           width: 96%;
           height: .3rem;
           margin: .1rem 2%;
           @include border-radius(.05rem)
       }
       span{
           padding: 0 .08rem;
           width: 100%;
           display: block;
           height: .35rem;
           @include border(0 0 1px 0,#ccc);
           font-size: .14rem;
           input{
               height: 100%;
           }
       } 
       p{
           font-size: .1px;
           color: #e61f18;
           text-align: right;
           padding-right: 2%;
       }
    }
}
