.searcher {
    @include flexbox();
    height: 100%;
    @include flex-direction(column);
    header {
        height: 0.45rem;
        @include border(0 0 1px 0,#b1b1b1)
        ul {
            @include flexbox();
            text-align: center;
            line-height: 0.45rem;
            color: #666;
            li {
                &:not(:nth-child(2)) {
                    width: 0.5rem;
                }
                &:nth-child(2) {
                    @include flex(1);
                    width: 2.5rem;
                    font-size: .18rem;
                }
            }
        }
    }
}